@use './queries' as *;

// GLOBAL VARIABLE DECLARATION
$rfa-menu-bg: #3068AD;
$rfa-title: #225089;
$rfa-tab-text: #666666;
$rfa-search: #0074C1;
$rfa-info-text: #F3F6F9;
$rfa-cards-bg: #E1E5EA;
$rfa-dark-title: #1B3A61;
$rfa-date: #8C6910;
$rfa-updated: #D2B859;
$rfa-cancelled: #E9261D;
$rfa-footer: #93A4BD;


// CREATING MY OWN DEFAULT BROWSER SETTINGS
* {
    font-family: 'Open Sans', serif;
    box-sizing: border-box;
    margin: 0;
}