@use '../../styles/partials/global' as *;
@use '../../styles/partials/queries' as *;

.flexbox{

    @include tablet{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    @include desktop{
        justify-content: center;
    }
}